@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  background-image: url("https://images.unsplash.com/photo-1444858291040-58f756a3bdd6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2048&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2em;
  font-family: 'Architects Daughter';
  text-align: center;
}

h1 {
  font-size: 4em;
}

button {
  margin: 1em;
  border-radius: .5em;
  padding: 1em;
}

footer {
  padding: 2em;
}

input {
  border-radius: .5em;
}

#butcherPig {
  width: 12rem;
}

#inputPhrase{
  font-size: 1rem;
  height: 5rem;
  width: 20rem;
  text-align: center;
}

#box{
  background-image: url("https://images.unsplash.com/photo-1548781518-d5f5e6a5e281?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F8CFEF;
  background-position: bottom;
  color: #fff;
  border-radius: .5em;
  padding: 20%;
}


@media only screen and (max-width: 650px) {
  #inputPhrase{
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
